section {
    background-image: url("https://img.freepik.com/free-vector/comic-style-wallpaper_79603-1248.jpg?w=740&t=st=1702437142~exp=1702437742~hmac=da5d36de4644a5bd62e72beff857f5cf1d8729a05fa6bd126495c3fa7c8a8599");
    background-repeat: round;
    background-size: contain;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  