section {
    background-image: url("https://img.freepik.com/free-vector/evening-cloudy-sky-purple-background-with-group-cumulus-cirrus-clouds-flat-cartoon-illustration_1284-62768.jpg?w=740&t=st=1702437190~exp=1702437790~hmac=ae8e7e0dd804db1c29830646e34116122542d353f572a9b3a181aea87ad41be3");
    background-repeat: round;
    background-size: contain;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  