section {
  background-image: url("https://img.freepik.com/free-vector/comic-colorful-frame-background_52683-71992.jpg?w=740&t=st=1702436624~exp=1702437224~hmac=1dea86ce591661d08200bc0e29f891ab3bbc53b0b0ba7fd42b06d0bcceafbf02");
  background-repeat: round;
  background-size: contain;
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
