:root {
  --my-green: #00b1b4;

  --my-black: #1a1a1a;
  --my-gray: #333;
  --my-ligth-gray: #cfcfcf9f;
  --my-medium-gray: rgb(121 121 121 / 79%);
  
  --my-white: #fff;
  --my-ligth-white: #ffffffc9;
}
